{
	"root": true,
	"env": {
		"browser": true,
		"es6": true
	},
	"plugins": ["@typescript-eslint"],
	"rules": {
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsIgnorePattern": "^_",
				"destructuredArrayIgnorePattern": "^_"
			}
		]
	},
	"extends": ["eslint:recommended", "prettier"]
}
